.singleproduct-container {
  height: 100%;
  width: 100%;
}

.singleproduct-wrapper {
  height: 35rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.leftpart {
  flex: 1;
  margin: 4rem 1rem;
  background-color: rgb(243, 238, 238);
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftpart img {
  height: 26rem;
  width: 30rem;
  object-fit: contain;
}

.rightpart {
  flex: 1;
  margin-left: 4rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-detail-price {
}

.amount {
  font-size: 50px;
}

.description {
}

.title-like {
  display: flex;
  align-items: center;
}

.title-like h1 {
  width: 40rem;
}
.title-like span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 216, 216);
}

.like-icon {
  cursor: pointer;
  &:active {
    transform: scale(1.4);
  }
}

.buynow-basket {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.buy-button {
  cursor: pointer;
  height: 4rem;
  width: 15rem;
  background-color: white;
  border: 2px solid black;
  &:active {
    transform: scale(0.98);
  }
}

.route-link {
  color: black;
  text-decoration: none;
}

.basket-button {
  cursor: pointer;
  height: 4rem;
  width: 15rem;
  background-color: black;
  color: white;
  &:active {
    transform: scale(0.98);
  }
}
